<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ website_name }}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- Site Icons -->
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <h1>{{ website_title | safe }}</h1>
        <nav>
          <ul>
            <li><a href="#footer" class="icon fa-solid fa-bars">Menu</a></li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <div id="main">{{ pic | safe }}</div>

      {% if no_result %}
      <h1 style="text-align: center; justify-content: center;">No Photos</h1>
      {% endif %}

      <div class="copyrights">
        Collect from <a href="{{ author_url }}">{{ author_name | safe }}</a>
      </div>

      <!-- Footer -->
      <footer id="footer" class="panel">
        <div class="inner split">
          <div>
            <section>
              <h2>{{ website_name | safe }}</h2>
              <p>{{ website_about | safe }}</p>

              {% if search_bar %}
              <form action="/search" method="get">
                <input type="text" name="query" placeholder="Searching by typing and pressing enter">
                <p>{{ keywords | safe }}</p>
              </form>
              {% endif %}
            </section>
            <p class="copyright">
              &copy; <a href="{{ author_url }}">{{ author_name | safe }}</a>
              <script>
                document.write(new Date().getFullYear());
              </script>
            </p>
          </div>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <!--[if lte IE 8
      ]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script
    ><![endif]-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
